/* Your custom styles */
.navbar-brand{
	/*font-family: 'Coiny', cursive;*/
	font-family: 'Lobster', cursive;
	padding-right: 60px;
}
.nav-link{
	font-family: 'Questrial', sans-serif;
	font-size: 17px;
}
.nav-link :active{
	box-shadow: none;
}